@model IputUrl
<html>
<body>
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Reliance Data</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            @using (Html.BeginForm("RelianceDetails", "Home", FormMethod.Post))
            {
                <div class="border p-3">
                    <div class="form-floating py-2 col-12">
                        <table cellpadding="5">
                            <tr>
                                <td>Enter Url:</td>
                                <td><input type="text" name="URL" /></td>
                            </tr>
                        </table>
                        <br />
                        <div class="col-6 col-md-3">
                            <input type="submit" value="Submit" class="btn btn-outline-primary border  form-control" />
                        </div>
                    </div>
                </div>
            }
        </div>
</body>
</html>